.template {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 21px;
	padding: 21px;

	.tableRow {
		display: flex;
		flex-direction: row;
	}

	.description {
		button {
			display: inline;
			margin-left: 4px;
			opacity: 1;

			&::before {
				font-size: 14px;
			}
		}
	}
}
