.field {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	gap: 4px;

	label {
		align-self: flex-start;
		color: #333;
		cursor: pointer;
		font-size: 14px;
		transition: all 0.25s;
	}

	.inputContent {
		backdrop-filter: blur(4px);
		background-color: transparent;
		border-radius: var(--border-radius);
		border: 1px solid var(--input-border-color);
		display: flex;
		flex-direction: row;
		height: var(--input-height);
		transition: all 0.25s;
		width: auto;
		min-width: 50px;

		.emptySpace {
			min-width: 10px;
			width: 10px;
		}

		.leftSide,
		.rightSide {
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: center;

			> img {
				border-radius: var(--border-radius) 0 0 var(--border-radius);
				height: var(--input-height);
				object-fit: cover;
				width: var(--input-height);
			}

			> span {
				color: #ccc;
				margin-inline-start: 14px;
			}
		}

		.leftSide {
			color: inherit;

			button {
				border-radius: 0;
			}

			button:first-child {
				border-radius: var(--border-radius) 0 0 var(--border-radius);
				color: inherit;
				font-size: inherit;
			}
		}

		.rightSide {
			color: inherit;

			button {
				border-radius: 0;
			}

			button:last-child {
				border-radius: 0 var(--border-radius) var(--border-radius) 0;
				color: inherit;
				font-size: inherit;
			}
		}

		.input {
			display: flex;
			flex-direction: row;
			flex-grow: 1;
			max-width: 100%;
			overflow: auto;

			input,
			select {
				background-color: transparent;
				border: none;
				flex-grow: 1;
				font-size: inherit;
				outline: transparent;
			}
		}
	}

	.error {
		color: red;
		font-size: 0.8em;
	}

	&[data-focus='true'] {
		.inputContent {
			background-color: #fff6;
			border-color: var(--active-color);
		}
	}

	&[data-checkbox='true'] {
		label {
			font-size: 1em;
		}

		.inputContent {
			backdrop-filter: none;
			background-color: transparent;
			border: none;
			gap: 7px;
			height: auto;

			.emptySpace {
				display: none;
			}

			.input {
				flex-grow: 0;

				input {
					height: 18px;
					width: 18px;
				}
			}
		}
	}

	&[data-error='true'] {
		.inputContent {
			border-color: #ffc3c3;
			color: red;
		}

		&[data-focus='true'] {
			.inputContent {
				border-color: red;
			}
		}
	}
}
