.dashboardPage {
	display: flex;
	flex-direction: column;
	gap: 21px;
	padding: 21px;

	h1 {
		color: var(--active-color);
		padding-block: 14px 0;
	}

	p {
		color: #aaa;
	}

	.cardCollection {
		border-radius: 7px;
		display: flex;
		flex-direction: row;
		gap: 21px;

		& > div {
			flex-grow: 1;
			width: 100px;

			h2 {
				flex-grow: 1;
			}

			b {
				font-size: 18px;
				text-align: right;
			}
		}
	}

	.goals {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 14px;
	}

	.balanceByDay {
		height: 300px;
		overflow-x: auto;

		& > div {
			height: 100%;
		}
	}

	@media (max-width: 1300px) {
		.goals {
			grid-template-columns: 1fr 1fr;
		}
	}

	@media (max-width: 1000px) {
		gap: 7px;
		padding: 7px;

		h1 {
			margin-bottom: 14px;
		}

		.cardCollection {
			flex-wrap: wrap;
			gap: 7px;

			& > div {
				min-width: 100%;
			}

			.allForToday {
				align-self: center;
				max-width: 300px;
			}
		}

		.goals {
			gap: 7px;
			grid-template-columns: 1fr;
		}
	}
}
