.tabs {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex-grow: 0 !important;

	& > section {
		background-color: #f4f4f4;
		border-radius: var(--border-radius);
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		overflow: hidden;

		& > button {
			border-radius: 0;
			flex-grow: 1;
			justify-content: center;
		}
	}
}
@media screen and (max-width: 1000px) {
	.tabs {
		& > section {
			& > button {
				width: 100%;
			}
		}
	}
}

@media print {
	.tabs {
		display: none;
	}
}
