.alert {
	background-color: var(--background-color);
	border: 2px solid var(--active-color);
	border-radius: 7px;
	color: var(--active-color);
	display: flex;
	flex-direction: row;
	font-size: 16px;
	gap: 14px;
	overflow: hidden;
	position: relative;

	.icon {
		background-color: var(--active-color);
		border-color: var(--active-color);
		color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100%;
		padding-inline: 21px;

		&::before {
			content: attr(data-icon);
			font-family: 'Material Symbols Outlined';
			font-size: 1.5em;
			font-weight: inherit;
		}
	}

	& > span {
		padding: 14px;
	}

	&[data-variation='secondary'] {
		background-color: transparent;

		.icon {
			background-color: transparent;
			border-right: 2px solid;
			color: var(--active-color);
		}
	}

	&[data-variation='gray'] {
		background-color: transparent;
		border-color: #999;
		color: #999;

		.icon {
			background-color: transparent;
			border-right: 2px solid #999;
			color: #999;
		}
	}

	&[data-orientation='vertical'] {
		flex-direction: column;
		gap: 0;

		.icon {
			border-bottom: 2px solid;
			border-right: none;
			flex-direction: row;
			padding: 14px;
		}
	}
}
