.tabs {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex-grow: 0 !important;

	& > section {
		background-color: #f4f4f4;
		border-radius: var(--border-radius);
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		overflow: hidden;
		z-index: 100;

		& > button {
			border-radius: 0;
		}
	}
}

@media print {
	.tabs {
		display: none;
	}
}
