.buttonGroup {
	border: 1px solid #ccc;
	border-radius: 7px;
	display: flex;
	flex-direction: row;
	overflow: hidden;

	button {
		border: none !important;
		border-radius: 0;

		&[data-selected='true'] {
			font-weight: bold;
		}
	}

	&[data-orientation='vertical'] {
		flex-direction: column;
	}
}
