.buttonGroup {
	border: 2px solid var(--active-color);
	border-radius: 7px;
	display: flex;
	flex-direction: row;
	overflow: hidden;

	button {
		background-color: transparent;
		border: none !important;
		border-radius: 0;

		&[data-selected='true'] {
			background-color: var(--active-color-33);
		}

		&[data-selected='true'][data-variation='primary'] {
			background-color: var(--active-color-cc);
		}
	}

	&[data-orientation='vertical'] {
		flex-direction: column;
	}

	&[data-sidebar-mode=true] {
		border: none;
		flex-direction: column;
		overflow: initial;

		button {
			&[data-selected=true] {
				background-color: #fff4;
			}

			&:first-child {
				border-radius: 7px 7px 0 0;
			}

			&:last-child {
				border-radius: 0 0 7px 7px;
			}
		}
	}
}
