.calendarInput {
	display: flex;
	flex-direction: column;
	gap: 4px;
	position: relative;

	label {
		align-items: center;
		color: #aaa;
		display: flex;
		flex-direction: row;
		font-size: 14px;
		font-weight: bold;
		gap: 4px;
		transition: all 0.25s;
	}

	& > button {
		z-index: 10;
	}

	.calendar {
		background-color: var(--background-color);
		backdrop-filter: blur(4px);
		border: 2px solid var(--active-color);
		border-radius: 7px;
		box-shadow: #3336 0 0 7px;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 249;

		& > div {
			box-shadow: #0003 0 0 4px;
			left: 50%;
			position: fixed;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			z-index: 250;
		}
	}

	&[data-sidebar-mode=true] {
		label {
			color: #333;
		}
	}
}
