.card {
	background-color: #fff;
	box-shadow: #1113 0 0 4px;
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
	gap: 14px;
	padding: 21px;

	& > .header {
		color: #888;
		font-size: 16px;
		font-weight: bold;
		gap:7px;
		text-transform: uppercase;

		.label {
			background-color: #eee;
			border-radius: var(--border-radius);
			color: #888;
			margin-top: -4px;
			margin-left: auto;
			padding: 4px 10px;
		}
	}

	.allChilds {
		display: flex;
		flex-direction: column;
		gap: 14px;

		p {
			color: #aaa;
			font-size: 18px;
		}
	}
}
