.dropdown {
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	position: relative;

	& > button {
		border-radius: 7px 7px 0 0;
		justify-content: center;

		&::after {
			position: absolute;
			right: 14px;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.list {
		background-color: #eee;
		border: 2px solid var(--active-color);
		border-radius: 0 7px 7px 7px;
		box-shadow: #3333 2px 2px 4px;
		display: flex;
		flex-direction: column;
		max-height: 200px;
		min-width: 110%;
		overflow-y: auto;
		position: absolute;
		top: calc(100% - 2px);
		transition: all 0.25s;
		z-index: 100;

		&::-webkit-scrollbar {
			border-bottom-right-radius: 7px;
		}

		& > button {
			background-color: var(--active-color-cc);
			border: none;
			border-radius: 0;
			white-space: nowrap;
		}

		.innerDropdown {
			border-radius: 0;

			& > button {
				background-color: var(--active-color-cc);
				border: none;
				justify-content: flex-start;

				&:hover {
					background-color: var(--active-color-aa);
				}

				&::after {
					rotate: -90deg;
				}
			}

			& > .list {
				border-radius: 0 7px 7px;
				left: 100%;
				top: 0;
			}

			&[data-show='false'] {

				& > button {
					&::after {
						rotate: 90deg;
					}
				}
			}

			&[data-show='true'] {
				& > button {
					background-color: var(--active-color-aa);
				}
			}
		}
	}

	&[data-show='false'] {
		& > button {
			border-radius: 7px;
			justify-content: center;
			white-space: nowrap;

			&::after {
				transform: translateY(-50%) rotate(180deg);
			}
		}

		.list {
			opacity: 0;
			pointer-events: none;
		}
	}

	&[data-variation=sidebar] {
		& > button {
			background-color: #fff4;
			border-radius: 7px;
			border: none !important;
			color: #fff;
			justify-content: flex-start;

			&:hover {
				background-color: #fff3 !important;
			}
		}

		.list {
			border-radius: 0 0 7px 7px;
			border: none;
			box-shadow: none;
			display: none;
			min-width: 100%;
			position: relative;
			top: auto;

			& > button {
				border: none;
				justify-content: flex-start;
				text-align: left;
				white-space: initial;
			}
		}

		&[data-show='true'] {
			& > button {
				border-radius: 7px 7px 0 0;
			}

			.list {
				display: flex;
			}
		}
	}
}
