.imageList {
	display: flex;
	flex-direction: column;
	margin-inline: -14px;
	overflow-x: auto;

	.mainImage {
		margin: 14px;

		img {
			border-radius: 7px;
			transition: all 0.25s;
		}
	}

	.allIMages {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 7px;
		margin-inline: 14px;

		.addImage {
			height: 50px;
			justify-content: center;
			width: 50px;
		}

		img {
			border: 1px solid #ccc;
			cursor: pointer;
			filter: grayscale(1);
			pointer-events: auto;
			transition: all 0.25s;

			&:hover {
				filter: grayscale(0.5);
			}

			&[data-active=true] {
				filter: grayscale(0);
			}
		}
	}

	& > input {
		display: none;
	}
}
