.modalImage {
	border-radius: 7px;
}

.input {
	display: flex;
	flex-direction: column;
	gap: 4px;
	position: relative;
	width: 200px;

	.label {
		align-items: center;
		color: #aaa;
		display: flex;
		flex-direction: row;
		font-size: 14px;
		font-weight: bold;
		gap: 4px;
		transition: all 0.25s;
	}

	.imageContainer {
		background-color: #eee;
		border-radius: 7px;
		box-shadow: #ccc 0 0 4px;
		display: none;
		height: 200px;
		object-position: var(--position-x) var(--position-y);
		pointer-events: auto !important;
		width: 100%;
	}

	.imagePlaceholder {
		background-color: #fff;
		border: none;
		border-radius: 7px;
		box-shadow: #ccc 0 0 4px;
		color: #999;
		display: flex;
		flex-direction: column;
		font-size: 16px;
		justify-content: center;
		height: 200px;
		max-height: 200px;
		min-height: 200px;
		padding: 0;
		text-align: center;
		width: 100%;

		&:hover {
			background-color: #f4f4f4;

			&::before {
				content: 'add_photo_alternate';
			}
		}

		&::before {
			font-size: 36px;
		}
	}

	.buttons {
		background: #1119;
		border-radius: 7px;
		box-shadow: #aaa 0 0 4px;
		top: 220px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 14px;
		left: -54px;
		padding: 14px;
		position: absolute;
		transition: all 0.25s;
		transform: translateY(-100%);
		z-index: 100;

		button {
			color: #fff;
			transition: all 0.5s;

			&:hover {
				color: var(--active-color);
			}

			&::before {
				font-size: 14px;
			}
		}
	}

	input {
		display: none;
	}

	&[data-full-width=true] {
		width: 100%;
		max-width: none;

		img {
			width: 100%;
		}

		.imagePlaceholder {
			width: 100%;
		}
	}

	&[data-value=true] {
		img {
			display: block !important;
		}

		.imagePlaceholder {
			background-color: transparent;

			&:active {
				cursor: move !important;
			}
		}
	}

	&[data-read-only=true] {
		.buttons {
			display: none;
		}
	}
}
