.input {
	display: flex;
	flex-direction: column;
	gap: 4px;
	position: relative;

	label {
		align-items: center;
		color: #aaa;
		display: flex;
		flex-direction: row;
		font-size: 14px;
		font-weight: bold;
		gap: 4px;
		transition: all 0.25s;
	}

	.inputWithButton {
		border: 1px solid #ccc;
		border-radius: 7px;
		display: flex;
		flex-direction: row;
		height: 44px;
		overflow: hidden;
		transition: all 0.25s;

		button.leftButton,
		button.rightButton {
			background-color: #fff;
			border: none;
			border-radius: 0;
			color: #aaa;
			padding-inline: 14px;

			&:hover {
				background-color: #f8f8f8;
				color: var(--active-color);
			}

			&:active {
				background-color: #f4f4f4;
			}

			&:disabled {
				background-color: #eee;
				color: #aaa;
				opacity: 1;
			}
		}

		input, textarea {
			background-color: #fff;
			border: none;
			color: #333;
			flex-grow: 1;
			font-size: 16px;
			padding: 14px;
			transition: all 0.5s;
			max-width: 100%;

			&::placeholder {
				color: #ccc;
			}

			&:disabled {
				background-color: #f4f4f4;
				color: #999;
			}

			&[type='number'] {
				text-align: right;
			}

			&[type='color'] {
				padding: 0;
				position: relative;
				overflow: hidden;
				width: 42px;

				&::-webkit-color-swatch {
					border: none;
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 100%;
				}
			}

			&[type='range'] {
				appearance: none;
				background-color: var(--active-color-33);
				border: none;
				border-radius: 4px;
				height: 8px;
				margin-top: 4px;
				padding: 0;
				transition: all 0.25s;

				&::-webkit-slider-thumb {
					appearance: none;
					background-color: var(--active-color);
					border-radius: 50%;
					cursor: pointer;
					height: 16px;
					transition: all 0.25s;
					width: 16px;

					&:hover {
						scale: 1.2;

						&:active {
							scale: 1.1;
						}
					}
				}
			}
		}

		textarea {
			height: 150px;
			min-height: 100px;
			resize: vertical;
		}
	}

	&[data-type='color'] {
		&::before {
			content: attr(data-value);
			color: #fff;
			left: 14px;
			pointer-events: none;
			position: absolute;
			top: 33px;
			z-index: 100;
		}

		input {
			border: 2px solid var(--active-color);
			min-width: 100px;
		}
	}

	&[data-type='checkbox'] {
		small {
			align-items: center;
		}

		.inputWithButton {
			border: none;
		}

		input {
			appearance: none;
			background-color: #ccc;
			border: none;
			border-radius: 12px;
			cursor: pointer;
			padding: 0;
			position: relative;
			height: 24px;
			max-height: none;
			transition: all 0.25s;
			max-width: 44px;

			&::before {
				background-color: #fff;
				border-radius: 12px;
				content: '';
				font-family: 'Material Symbols Outlined';
				font-size: 12px;
				font-weight: bold;
				height: 16px;
				left: 4px;
				position: absolute;
				top: 4px;
				transition: all 0.15s;
				width: 16px;
			}

			&:checked {
				background-color: var(--active-color);

				&::before {
					background-color: #fff;
					left: calc(100% - 20px);
				}
			}
		}
	}

	&[data-focus=true] {
		label {
			color: var(--active-color);
		}

		.inputWithButton {
			border-color: #999;
		}
	}
}
