.modal {
	align-items: center;
	background-color: var(--background-color);
	backdrop-filter: blur(4px);
	display: flex;
	flex-direction: row;
	height: 100%;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 200;

	.content {
		background-color: #fff;
		border-radius: 7px;
		box-shadow: #ccc 0 0 4px;
		display: flex;
		flex-direction: column;
		gap: 14px;
		margin: 21px;
		max-width: calc(100% - 28px);
		padding: 21px;
		position: relative;
		width: 800px;

		.closeButton {
			position: absolute;
			right: 21px;
			top: 21px;
		}
	}
}
