.path {
	border-radius: 7px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	.insidePath {
		align-items: center;
		background: #fff9;
		border-radius: 7px;
		display: flex;
		flex-direction: row;
		gap: 7px;
		justify-content: flex-start;
		padding: 10px 17px;

		& > .pathLink {
			color: #aaa;
			opacity: 1 !important;
			width: auto;

			&::after {
				color: #aaa;
			}

			&[data-current=true] {
				color: var(--active-color);
			}

			&[data-current=false] {
				cursor: default;
			}
		}
	}
}
