.select {
	display: flex;
	flex-direction: column;
	gap: 4px;
	position: relative;

	.label {
		align-items: center;
		color: #aaa;
		display: flex;
		flex-direction: row;
		font-size: 14px;
		font-weight: bold;
		gap: 4px;
		transition: all 0.25s;

		.help {
			position: relative;

			button {
				&::before {
					font-size: 14px !important;
				}
			}

			.helpFloatingPanel {
				background-color: #fff;
				border-radius: 7px;
				box-shadow: #ccc 0 0 4px;
				color: #333;
				font-weight: normal;
				left: calc(100% + 4px);
				max-width: 300px;
				min-width: 150px;
				padding: 14px;
				position: absolute;
				top: 4px;
				z-index: 100;
			}
		}
	}

	.insideSelect {
		border-radius: 7px;
		display: flex;
		flex-direction: column;
		position: relative;

		& > button {
			border-radius: 7px;

			span {
				flex-grow: 1;
				text-align: left;
			}

			&::after {
				align-self: flex-end;
				float: right;
			}
		}

		.options {
			background-color: #fff;
			border: 2px solid var(--active-color);
			border-radius: 0 0 7px 7px !important;
			box-shadow: #3333 2px 2px 4px;
			display: none;
			flex-direction: column;
			opacity: 0;
			overflow: hidden;
			pointer-events: none;
			position: absolute;
			top: calc(100% - 2px);
			transition: all 0.25s;
			min-width: 100%;
			z-index: 100;

			& > button {
				border: none;
				border-radius: 0px;
				white-space: nowrap;

				&[data-variation='secondary'][data-selected='true'] {
					color: #fff;
				}

				&[data-selected='true'] {
					background-color: var(--active-color-cc);
				}
			}
		}
	}

	&[data-push-options=true] {
		.options {
			margin-top: -2px;
			position: sticky;
			top: 0;
		}
	}

	&[data-show-options='true'] {
		.label {
			color: var(--active-color);
		}

		.insideSelect {
			& > button {
				border-radius: 7px 7px 0 0;
				white-space: nowrap;

				&::after {
					rotate: 180deg;
				}
			}

			.options {
				border-radius: 0 0 7px 7px;
				display: flex;
				opacity: 1;
				pointer-events: auto;
			}
		}
	}

	&[data-sidebar-mode=true] {
		.label {
			color: #fff;
		}

		.insideSelect {
			& > button {
				background-color: #fff2;
				border: none;
				color: #fff;

				&:hover {
					background-color: #fff4;
				}
			}

			.options {
				border: none;
				box-shadow: none;
				margin-top: -2px;
				position: sticky;
				top: 0;
			}
		}

		&[data-show-options='true'] {
			.insideSelect {
				& > button {
					background-color: #fff4;
				}
			}
		}
	}
}
