.select {
	display: flex;
	flex-direction: column;
	gap: 4px;
	position: relative;

	label {
		color: #aaa;
		font-size: 14px;
		font-weight: bold;
		transition: all 0.25s;
	}

	.selectWrapper {
		background-color: #f4f4f4;
		border: 1px solid #ccc;
		border-radius: 7px;
		display: flex;
		flex-direction: row;
		height: 44px;
		overflow: hidden;

		button {
			background-color: #fff;
			border-radius: 0;
			color: #aaa;
			padding-inline: 14px;

			&:hover {
				background-color: #f8f8f8;
				color: var(--active-color);
			}

			&:active {
				background-color: #f4f4f4;
			}

			&:disabled {
				background-color: #fff;
				color: #333;
				opacity: 1;
			}

			&.leftButton {
				border: none;
				border-right: 1px solid #ccc;
			}

			&.rightButton {
				border: none;
				border-left: 1px solid #ccc;
			}
		}

		select {
			align-self: stretch;
			appearance: none;
			background-image: url(https://raw.githubusercontent.com/solodev/styling-select-boxes/master/select1.png);
			background-position: calc(100% - 14px) center;
			background-size: 10px;
			background-repeat: no-repeat;
			border: none;
			color: #333;
			flex-grow: 1;
			font-size: 16px;
			height: 100%;
			padding: 10px 36px 10px 14px;
			transition: all 0.25s;
		}
	}
}
