.table {
	border-collapse: collapse;
	filter: drop-shadow(0 0 4px #ccc);
	font-size: 16px;

	thead {
		background-color: var(--active-color);
		border-radius: var(--border-radius);
		color: #fff;

		tr {
			th {
				align-items: center;
				font-weight: normal;
				max-width: var(--width);
				padding: 14px;
				position: relative;
				transition: all 0.25s;
				vertical-align: middle;
				width: var(--width);

				&:hover {
					background-color: #fff3;
				}

				.sortMode {
					align-self: center;
					color: #fff !important;
					text-align: left;
					gap: 14px;

					&[data-sort-direction=ASC] {
						&:after {
							transform: rotateX(180deg);
						}
					}

					.filterIndicator {
						justify-content: center;
						background-color: #fff2;
						border-radius: 50%;
						color: #fff;
						height: 23px;
						font-size: 12px;
						margin: -4px;
						pointer-events: none;
						width: 23px;
					}
				}

				.columnOptions {
					background-color: #fff;
					border-radius: var(--border-radius);
					display: flex;
					flex-direction: column;
					gap: 7px;
					left: 7px;
					padding: 14px;
					position: absolute;
					top: calc(60% + 7px);
					width: fit-content;
					z-index: 100;

					button {
						white-space: nowrap;
					}

					button[data-invert] {
						&::before {
							transform: rotateX(180deg);
						}
					}
				}
			}
		}
	}

	tbody {
		tr {
			background-color: #fff;

			&:nth-child(even) {
				background-color: #f7f7f7;
			}

			position: relative;
			transition: background-color 0.5s;

			&[data-selected='true'] {
				font-weight: bold;
			}

			&:hover {
				background-color: #eee;

				&:nth-child(even) {
					background-color: #eee;
				}
			}

			td {
				transition: all 0.25s;

				&[data-focus=true] {
					background-color: #1111;
				}

				&[data-image] {
					align-items: center;
					padding: 0 7px;
					width: 36px;

					img {
						margin-block: 7px 3px;
					}
				}

				&[data-image-list] {
					align-items: center;
					padding: 4px 7px;
					text-align: left;

					& > div {
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						gap: 7px;
					}
				}
			}
		}
	}

	tbody, tfoot {
		tr {
			td {
				color: #666;
				padding: 14px;
				position: relative;
			}
		}
	}

	tfoot {
		tr {
			background-color: var(--background-color);

			td {
				font-weight: bold;
			}
		}
	}

	th:first-of-type {
		border-top-left-radius: var(--border-radius);
	}

	th:last-of-type {
		border-top-right-radius: var(--border-radius);
	}

	tr:last-of-type td:first-of-type {
		border-bottom-left-radius: var(--border-radius);
	}

	tr:last-of-type td:last-of-type {
		border-bottom-right-radius: var(--border-radius);
	}

	td,
	th {
		vertical-align: top;

		&[data-alignment='left'] {
			text-align: left;

			.sortMode {
				justify-content: flex-start;
			}
		}

		&[data-alignment='center'] {
			text-align: center;

			.sortMode {
				justify-content: center;
			}
		}

		&[data-alignment='right'] {
			text-align: right;

			.sortMode {
				justify-content: flex-end;
			}
		}
	}
}
