.text {
	align-items: center;
	display: flex;
	flex-direction: row;
	transition: inherit;

	&[data-icon-left]::before {
		color: inherit;
		content: attr(data-icon-left);
		font-family: 'Material Symbols Outlined';
		font-size: inherit;
		font-weight: inherit;
		transition: inherit;
	}

	&[data-icon-right]::after {
		color: inherit;
		content: attr(data-icon-right);
		font-family: 'Material Symbols Outlined';
		font-size: inherit;
		font-weight: inherit;
		transition: inherit;
	}
}
