.path {
	display: flex;
	flex-direction: row;
}

.fullName {
	&:is(td) {
		padding: 7px !important;

		.insideFullName {
			align-items: center;
			display: flex;
			flex-direction: row;
			gap: 10px;
		}
	}

	.profilePictureFallback {
		background-color: #eee !important;
		border: none !important;
		border-radius: 7px;
		box-shadow: #ccc 0 0 4px;
		color: #999 !important;
		justify-content: center;
		height: 36px;
		width: 36px;

		&:before {
			font-size: 22px !important;
		}
	}
}

.personType {
	&:is(td) {
		padding: 11px 10px !important;
		vertical-align: center;

		& > div {
			--active-color: #39f;

			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			height: 100%;

			& > span {
				color: #fff;
				font-size: 12px;

				&[data-type=PF] {
					background-color: rgba(93, 78, 155, 0.33);
					color: rgba(93, 78, 155);
				}

				&[data-type=PJ] {
					background-color: rgba(107, 161, 0, 0.33);
					color: rgba(107, 161, 0);
				}
			}
		}
	}
}
