.selectInput {
	&[data-disabled='true'] {
		.currentOption {
			cursor: default;
			opacity: 0.4;
		}
	}
}

.background {
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 59;
}

.specialOptions {
	display: flex;
	flex-direction: row;
}

.showOptions {
	z-index: 60;

	> div {
		border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
		border-color: var(--active-color);
	}

	.options {
		border-color: var(--active-color);
		z-index: 10;
	}

	.arrowButton div {
		rotate: 180deg;
	}
}

.arrowButton {
	&:hover {
		background-color: transparent !important;
	}

	div {
		transition: all 0.25s;
	}
}

.quickSearch {
	padding: 14px;

	input {
		width: 100px;
	}
}

.optionRender,
.currentOption {
	align-items: center;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	gap: 10px;
	padding: 10px 14px;
	transition: all 0.25s;
	white-space: nowrap;
}

.currentOption {
	height: var(--input-height);
}

.currentOption {
	flex-grow: 1;
	padding: 10px 0;
	width: 100%;
}

.optionRender {
	white-space: nowrap;

	&:hover {
		background-color: #eee;
	}

	&[data-selected='true'] {
		background-color: var(--active-color-10);
		font-weight: bold;
	}
}

.placeholder {
	color: #ccc;
	overflow: hidden;
	user-select: none;
	white-space: nowrap;
}

.clearButton {
	border-radius: 0;
	margin-left: auto;
}

.options {
	background-color: #fff;
	border: 1px solid var(--input-border-color);
	border-radius: 0 0 var(--border-radius) var(--border-radius);
	display: flex;
	flex-direction: column;
	inset-block-start: 100%;
	inset-inline-start: -0.5px;
	max-height: 220px;
	overflow: auto;
	position: absolute;
	width: calc(100% + 1px);
	z-index: 10;
}

[data-context='bag'] {
	.currentOption {
		color: #fff;
	}

	.clearButton {
		color: #fff;
	}

	[data-field] {
		> div {
			background-color: #fff;
			border-color: var(--input-border-color) !important;
		}
		&[data-focus='true'] {
			> div {
				border-color: var(--active-color) !important;
			}
		}
	}
}
