.selectInput {
	&[data-disabled='true'] {
		.currentOption {
			cursor: default;
			opacity: 0.4;
		}
	}

	&[data-show-options='true'] {
		.background {
			z-index: 59;
		}

		> div {
			outline-color: var(--active-color);
			z-index: 60;
		}

		.options {
			outline-color: var(--active-color);
			z-index: 61;
		}

		.arrowButton {
			div {
				rotate: 180deg;
			}
		}

		&[data-options-position='top'] {
			> div {
				border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
			}

			.options {
				border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
				inset-block-end: 100%;
			}

			.specialOptions {
				button:last-child {
					border-radius: 0 0 var(--border-radius) 0 !important;
				}
			}
		}

		&[data-options-position='bottom'] {
			> div {
				border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
			}

			.options {
				border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
				inset-block-start: 100%;
			}

			.specialOptions {
				button:last-child {
					border-radius: 0 var(--border-radius) 0 0 !important;
				}
			}
		}
	}

	&[data-option-selected='true'] {
		.currentOption {
			max-width: calc(100% - (var(--input-height) * 2));
		}
	}
}

.background {
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
}

.specialOptions {
	display: flex;
	flex-direction: row;
	right: 0;
	position: absolute;

	button {
		width: var(--input-height) !important;

		&:last-child {
			border-radius: 0 var(--border-radius) var(--border-radius) 0;
		}
	}

	button[data-variation='primary'] {
		color: #fff;
	}
}

.quickSearch {
	padding: 14px;

	input {
		width: 100px;
	}
}

.optionRender,
.currentOption {
	align-items: center;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	gap: 10px;
	min-height: var(--input-height);
	padding: 10px 14px;
	transition: all 0.25s;
	user-select: none;
	white-space: nowrap;
	width: 100%;
}

.currentOption {
	height: var(--input-height);
	max-width: calc(100% - var(--input-height));
}

.currentOption {
	flex-grow: 1;
	padding: 10px 0;
	width: 100%;
}

.optionRender {
	&:hover {
		background-color: #eee;
	}

	&[data-selected='true'] {
		background-color: var(--active-color-10);
		font-weight: bold;
	}
}

.placeholder {
	color: #ccc;
	overflow: hidden;
	user-select: none;
	white-space: nowrap;
}

.options {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	inset-inline-end: 0;
	max-height: 250px;
	max-width: 100%;
	outline: 1px solid var(--input-border-color);
	overflow-y: auto;
	position: absolute;
	width: 100%;
}

[data-context='sidebar'] {
	.currentOption {
		color: #333;
	}

	.options {
		background-color: #fff;
	}

	.clearButton,
	.arrowButton {
		color: #999 !important;
	}

	[data-field] {
		> div {
			background-color: #fff;
			border-color: transparent !important;

			> input {
				&::placeholder {
					color: #ccc;
				}
			}
		}

		&[data-focus='true'] {
			> div {
				background-color: #fff3;
				border-color: transparent !important;

				input {
					&::placeholder {
						color: #ccc;
					}
				}
			}
		}
	}
}
