:root {
	--sidebar-width: 280px;
}

.sidebar {
	background-color: var(--active-color);
	display: flex;
	flex-direction: column;
	padding-block: 14px;
	position: relative;
	transition: all 0.25s;
	width: var(--sidebar-width);

	& > button {
		border-left: 4px solid transparent;
		border-radius: 0;
		font-size: 18px;
		gap: 17px;
		justify-content: flex-start;
		padding: 17px 17px 17px 13px;
		width: 100%;

		&:hover {
			background-color: #fff6 !important;
		}

		&::before {
			font-size: 18px;
		}

		&[data-active=true] {
			background-color: #fff3;
			border-left: 4px solid #fff;
			color: #fff;

			&::before {
				color: #fff;
			}
		}
	}
}
