.sidebar {
	--width-pages: 70px;
	--width-options: 280px;

	display: flex;
	flex-direction: row;
	position: relative;
	transition: all 0.25s;

	.pages {
		background-color: var(--active-color);
		display: flex;
		flex-direction: column;
		gap: 7px;
		padding: 7px;
		width: var(--width-pages);

		button {
			flex-direction: row;
			justify-content: center;
			padding: 14px 0;
			width: 100%;

			&:hover {
				background-color: #fff6;
			}

			&[data-active=true] {
				background-color: #fff4;
			}

			&::before {
				font-size: 18px;
			}
		}
	}

	.options {
		background-color: var(--background-color);
		border-right: 2px solid var(--active-color);
		display: flex;
		flex-direction: column;
		gap: 7px;
		max-height: 100%;
		overflow-y: auto;
		padding: 24px 17px;
		transition: width 0.25s, opacity 0.25s;
		width: var(--width-options);
	}

	&[data-reduced=true] {
		.options {
			opacity: 0;
			padding-inline: 0;
			width: auto;

			& > * {
				display: none;
				white-space: nowrap;
			}
		}
	}

	@media (max-width: 1000px) {
		.pages {
			background-color: var(--active-color);
			z-index: 110;
		}

		.options {
			background-color: #fffc;
			backdrop-filter: blur(10px);
			height: 100%;
			left: var(--width-pages);
			position: fixed;
			top: 0;
			width: calc(100% - var(--width-pages));
			z-index: 100;
		}
	}
}
