@import '../../utils';

.customerPage {
	--customer-card-width: 250px;

	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
	position: relative;

	&[data-scroll-position='true'] {
		.pageHeader {
			background-color: #222d;
			backdrop-filter: blur(4px);
		}
	}

	&[data-show-filters='true'] {
		.allFilters {
			display: flex;
		}
	}
}

.customerPageContent {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: 100%;
	overflow-y: auto;
}

.noDataFound {
	align-self: center;
	color: #666;
	display: flex;
	flex-direction: column;
	gap: 4px;
	height: 100%;
	justify-content: center;
	max-width: 600px;
	padding: 21px;

	h1 {
		color: #333;
		margin-bottom: 14px;
	}

	li {
		margin-top: 10px;
		margin-left: 17px;
	}

	b {
		color: #333;
	}
}

.noDataFoundHeader {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;

	> i {
		align-self: flex-start;
		color: #333;
		font-size: 34px !important;
	}
}

.pageHeader {
	background-color: #222;
	display: flex;
	flex-direction: row;
	gap: 14px;
	inset-block-start: 0;
	inset-inline-start: 0;
	padding: 14px 17px;
	position: sticky;
	transition: all 0.25s;
	z-index: 2;

	button {
		align-items: center;
		border-radius: 7px;
		padding: 14px;
	}

	label {
		align-self: center;
		color: #fff;

		&.faded {
			color: #fff6;
		}
	}

	hr {
		background-color: #fff2;
		height: 100%;
		margin-block: 0;
		width: 2px;
	}
}

.pageContent {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	gap: 21px;
	justify-content: center;
	padding: 14px;

	> div {
		max-width: 100%;
		width: 100%;
	}
}

@include desktopFullHD {
	.customerPage {
		.pageContent {
			grid-template-columns: repeat(6, 1fr);
		}
	}
}

@include desktopMediumHD {
	.customerPage {
		.pageContent {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

@include desktopHD {
	.customerPage {
		.pageContent {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	.pageHeader {
		button {
			span {
				display: none;
			}
		}
	}
}

@include desktopSmall {
	.customerPage {
		.pageContent {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

@include tablet {
	.customerPage {
		.pageContent {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	.faded {
		display: none;
	}
}
