@import '../../utils';

$templateWidth: 1fr;

.customerPage {
	--customer-card-width: 250px;

	display: flex;
	flex-direction: column;
	gap: 14px;
	height: 100%;
	padding: 14px;
	position: relative;
	width: 100%;
}

.pageContent {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 14px;
	justify-content: flex-start;
	max-height: 100%;

	table {
		flex-grow: 1;
	}
}

.tableFullNameAndEmail {
	display: flex;
	flex-direction: column;
	gap: 4px;

	a {
		font-weight: normal !important;
	}

	p {
		color: #aaa;
	}
}

.favoriteButton {
	background-color: transparent;
	color: #aaa !important;
	font-size: 24px;

	&:hover {
		scale: 1.3;
	}

	&[data-favorite='true'] {
		color: red !important;
	}
}

@include desktopFullHD {
	.pageContent {
		grid-template-columns: repeat(5, $templateWidth);
	}
}

@include desktopMediumHD {
	.pageContent {
		grid-template-columns: repeat(4, $templateWidth);
	}
}

@include desktopHD {
	.pageContent {
		grid-template-columns: repeat(3, $templateWidth);
	}
}

@include desktopSmall {
	.pageContent {
		grid-template-columns: repeat(2, $templateWidth);
	}
}

@include tablet {
	.pageContent {
		grid-template-columns: repeat(1, $templateWidth);
	}

	.filters {
		section {
			flex-direction: column;
		}
	}

	.allFilters {
		flex-direction: column;
	}
}
