@import '../../utils';

$templateWidth: 1fr;

.customerPage {
	--customer-card-width: 250px;

	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
	position: relative;

	&[data-show-filters='true'] {
		.allFilters {
			display: flex;
		}
	}
}

.customerPageContent {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: 100%;
	overflow-y: auto;
}

.pageHeader {
	background-color: #222;
	display: flex;
	flex-direction: row;
	gap: 14px;
	inset-block-start: 0;
	inset-inline-start: 0;
	padding: 14px 17px;
	position: sticky;
	transition: all 0.25s;
	z-index: 2;

	label {
		align-self: center;
		color: #fff;

		&.faded {
			color: #fff6;
		}
	}

	hr {
		background-color: #fff2;
		height: 100%;
		margin-block: 0;
		width: 2px;
	}
}

.importJSONInput {
	display: none;
}

.pageContent {
	display: grid;
	gap: 21px;
	grid-template-columns: repeat(7, $templateWidth);
	justify-content: center;
	padding: 14px;
}

@include desktopFullHD {
	.pageContent {
		grid-template-columns: repeat(6, $templateWidth);
	}
}

@include desktopMediumHD {
	.pageContent {
		grid-template-columns: repeat(4, $templateWidth);
	}
}

@include desktopHD {
	.pageContent {
		grid-template-columns: repeat(3, $templateWidth);
	}

	.pageHeader {
		> button {
			span {
				display: none;
			}
		}
	}
}

@include desktopSmall {
	.pageContent {
		grid-template-columns: repeat(2, $templateWidth);
	}
}

@include tablet {
	.pageContent {
		grid-template-columns: repeat(1, $templateWidth);
	}

	.faded {
		display: none;
	}
}
