.dashboardPage {
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.quickInfo {
	background-color: #eee;
	border-bottom: 1px solid #ccc;
	display: flex;
	flex-direction: row;
	gap: 28px;
	overflow-x: auto;
	padding: 28px;
}
