.dashboardPage {
	display: flex;
	flex-direction: column;
	gap: 14px;
	padding: 14px;

	> header {
		border-bottom: 1px solid #ccc;
		display: flex;
		flex-direction: row;
		gap: 14px;
		padding-bottom: 7px;

		> img {
			border-radius: 7px;
			box-shadow: #333 0 0 4px;
			height: 56px;
			object-fit: cover;
			width: 56px;
		}

		.welcome {
			display: flex;
			flex-direction: column;

			h3 {
				color: #999;
			}
		}
	}
}
