@import '../../utils';

.productPage {
	--product-card-width: 250px;

	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
	position: relative;
}

.productPageContent {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: 100%;
	overflow-y: auto;
}

.tableTitleAndDescription {
	display: flex;
	flex-direction: column;
	gap: 4px;

	p {
		color: #aaa;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.filters {
	display: flex;
	flex-direction: column;
	gap: 14px;
	padding: 14px 14px 0;

	section {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 14px;

		button {
			white-space: nowrap;
		}
	}

	[data-field='general_search'] {
		width: 100%;
	}
}

.bagButton {
	> div {
		color: #666 !important;
	}
}

.bagItem {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	gap: 10px;
	min-width: 300px;
	width: 100%;
}

.bagImage {
	align-self: flex-start;
	border-radius: 7px !important;
	overflow: hidden;
}

.totalValue {
	color: #fff;
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	width: 100%;

	label {
		flex-grow: 1;
	}
}

.bagItemTitleAndPrice {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 4px;
	width: 100%;

	p {
		padding: 0 !important;
	}
}

.removeFromBagButton {
	height: auto !important;
	min-height: auto !important;
	padding: 0 !important;
}

.allFilters {
	background-color: #fff;
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: row;
	gap: 14px;

	> [data-field] {
		width: 300px;
	}
}

.selectValueRender {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 10px;
	max-width: 100%;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	p {
		padding: 0;
		text-overflow: ellipsis;
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
	}
}

.nameAndEmail {
	display: flex;
	flex-direction: column;
	gap: 4px;
	justify-content: space-between;
	width: 100%;

	p {
		color: #aaa;
	}
}

.pageContent {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 14px;
	padding: 14px;

	table {
		flex-grow: 1;
	}
}
