@import '../../utils';

$templateWidth: 1fr;

.productPage {
	--product-card-width: 250px;

	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
	position: relative;
}

.productPageContent {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: 100%;
	overflow-y: auto;
}

.filters {
	display: flex;
	flex-direction: column;
	gap: 14px;
	padding: 14px 14px 0;

	section {
		display: flex;
		flex-direction: row;
		gap: 14px;

		button {
			white-space: nowrap;
		}
	}

	[data-field='general_search'] {
		width: 100%;
	}
}

.allFilters {
	background-color: #fff;
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: row;
	gap: 14px;

	[data-field='seller_id'] {
		width: 350px;
	}

	[data-field='status'] {
		width: 300px;
	}
}

.selectValueRender {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 10px;
	max-width: 100%;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	p {
		padding: 0;
		text-overflow: ellipsis;
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
	}
}

.nameAndEmail {
	display: flex;
	flex-direction: column;
	gap: 4px;
	justify-content: space-between;
	width: 100%;

	p {
		color: #aaa;
	}
}

.pageContent {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 14px;
	padding: 14px;

	table {
		flex-grow: 1;
	}
}
