.pictureField {
	display: flex;
	flex-direction: column;
	gap: 14px;
	position: relative;
}

.pictureOptions {
	display: flex;
	flex-direction: row;
	gap: 14px;
	inset-block-end: 10px;
	inset-inline-end: 10px;
	justify-content: center;
	position: absolute;
	z-index: 100;

	button {
		background-color: #333;
		border-radius: 50%;

		&:hover {
			background-color: #222;
		}
	}
}
