.pictureField {
	display: flex;
	flex-direction: column;
	gap: 14px;
	position: relative;
}

.picture {
	z-index: 1;
}

.pictureOptions {
	display: flex;
	flex-direction: row;
	gap: 14px;
	inset-block-end: 10px;
	inset-inline-end: 10px;
	justify-content: center;
	position: absolute;

	button {
		background-color: #333;
		border-radius: 50%;
		z-index: 2;

		&:hover {
			background-color: #222;
		}
	}
}
