@import '../../../keyframe';
@import '../../../utils';

.productCard {
	animation: fadeOut 0.25s linear;
	background: linear-gradient(25deg, #fff, #fff);
	border-radius: 14px;
	box-shadow: #ccc 0 0 4px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	max-width: 280px;
	overflow: hidden;
	position: relative;
	width: 280px;

	&:hover {
		.showDetailsButton {
			&:hover {
				box-shadow: none;
				background-color: var(--active-color-80);
			}
		}
	}

	header {
		align-self: flex-start;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 7px;

		h1 {
			color: #666;
			display: flex;
			flex-direction: row;
		}

		p {
			color: #ccc;
			display: -webkit-box;
			flex-grow: 1;
			max-width: min(500px, 100%);
			overflow: hidden;
			transition: all 0.25s;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
	}

	section {
		align-content: center;
		display: flex;
		flex-direction: column;
		padding: 14px;
		z-index: 1;
	}

	hr {
		background-color: #eee;
		margin: 7px 21px -1px;
		width: calc(100% - 42px);
	}

	&[data-status='AVAILABLE'] {
		.status {
			background-color: #27b400;
			color: #fff;
		}
	}

	&[data-status='UNAVAILABLE'] {
		.status {
			background-color: #f33;
			color: #fff;
		}
	}

	&[data-status='BLOCKED'] {
		.status {
			background-color: #93f;
			color: #fff;
		}
	}

	&[data-status='RESERVED'] {
		.status {
			background-color: #f3f;
			color: #fff;
		}
	}

	&[data-status='SOLD'] {
		.status {
			background-color: #f93;
			color: #fff;
		}
	}
}

.productPicture {
	background-color: #aaa;
	background-position: center;
	background-size: 100%;
	border-radius: 0;
	position: relative;
	width: 100%;

	div[data-field='picture'] {
		border: none !important;
		border-radius: 0 !important;
		width: 100% !important;

		&::before {
			border-radius: 0 !important;
		}

		[data-picture] {
			border-radius: 14px !important;
		}
	}
}

.status {
	align-self: flex-start;
	background-color: #666;
	color: #fff;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	font-size: 12px;
	padding: 10px 14px;
	transition: all 0.25s;
	user-select: none;
	width: 100%;
}

.price {
	align-self: center;
	display: flex;
	flex-direction: row !important;
	font-size: 28px;
	font-weight: normal;
	justify-content: flex-end;
	line-height: 1em;
	text-align: right;
	width: 100%;

	small {
		align-self: flex-end;
		color: initial;
		font-size: 1em;
		line-height: 1em;
		margin-bottom: 2px;
		margin-right: 7px;
	}

	span {
		align-self: flex-start;
		color: #aaa;
		font-size: 14px;
		line-height: 1em;
		margin-top: 2px;
		margin-left: 2px;
	}
}

.showDetailsButton {
	background-color: transparent;
	border: none !important;
	border-radius: 0 0 14px 14px;
	color: #666;
	height: auto;
	padding-block: 21px !important;
	z-index: 1;

	&:hover {
		background-color: var(--active-color);
		color: #fff;
		z-index: 1;
	}
}
