@import '../../../keyframe';
@import '../../../utils';

.productCard {
	animation: fadeOut 0.25s linear;
	align-self: flex-start;
	background-color: #fff;
	border-radius: 0;
	box-shadow: inset #eee 0 0 calc((var(--product-card-width) / 2) - 10px), #ccc 0 0 14px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	max-width: 100%;
	transition: all 0.25s;
	width: 100%;

	&[data-selected='true'] {
		outline: 2px solid var(--active-color) !important;
	}

	&:hover {
		box-shadow: inset #fff 0 0 calc((var(--product-card-width) / 2) - 10px), #ccc 0 0 14px;

		.showDetailsButton {
			box-shadow: inset #eee9 0 0 calc((var(--product-card-width) / 2) - 10px);

			&:hover {
				box-shadow: none;
				background-color: var(--active-color-80);
			}
		}

		.userPicture {
			filter: grayscale(0) !important;
		}

		.inactive {
			opacity: 0;
		}
	}

	hr {
		background-color: #eee;
		margin: 14px 21px -1px;
		width: calc(100% - 42px);
	}
}

.productPicture {
	align-items: center;
	border-radius: 14px 14px 0 0;
	border-bottom: 4px solid var(--border-color);
	display: flex;
	flex-direction: column;
	height: 200px;
	justify-content: center;
	position: relative;
	transition: all 0.25s;
	width: 100%;
}

.productInfo {
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding: 0 21px;
	text-align: center;

	h3 {
		color: #000;
		line-height: 20px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	small {
		color: #aaa;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}

.customerAndPrice {
	align-items: flex-end;
	display: flex;
	flex-direction: row;
	margin-top: 14px;
}

.price {
	flex-grow: 1;
	text-align: right;
}

.selectCard {
	inset-block-start: 14px;
	inset-inline-start: 14px;
	position: absolute;

	input {
		cursor: pointer;
		height: 18px;
		width: 18px;
	}
}

.showDetailsButton {
	background-color: transparent;
	border-radius: 0;
	color: #333;
	font-weight: bold;
	height: auto;
	padding-block: 21px !important;

	&:hover {
		color: #fff;
		z-index: 1;
	}
}
