@import '../../../keyframe';
@import '../../../utils';

.productCard {
	animation: fadeOut 0.25s linear;
	background: linear-gradient(25deg, #fff, #fff);
	border-radius: var(--border-radius);
	box-shadow: #ccc 0 0 4px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	max-width: 280px;
	position: relative;
	width: 280px;

	header {
		align-self: flex-start;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 4px;

		a {
			color: #666;
			display: flex;
			flex-direction: row;
			gap: 14px;
			transition: all 0.25s;

			&:hover {
				color: var(--active-color);
			}
		}

		p {
			color: #ccc;
			display: -webkit-box;
			flex-grow: 1;
			max-width: min(500px, 100%);
			overflow: hidden;
			transition: all 0.25s;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
		}
	}

	section {
		align-content: center;
		display: flex;
		flex-direction: column;
		padding: 10px 10px;
		z-index: 1;
	}

	&[data-status='AVAILABLE'] {
		.status {
			background-color: #27b400;
			color: #fff;
		}
	}

	&[data-status='UNAVAILABLE'] {
		.status {
			background-color: #f33;
			color: #fff;
		}
	}

	&[data-status='BLOCKED'] {
		.status {
			background-color: #93f;
			color: #fff;
		}
	}

	&[data-status='RESERVED'] {
		.status {
			background-color: #f3f;
			color: #fff;
		}
	}

	&[data-status='SOLD'] {
		.status {
			background-color: #f93;
			color: #fff;
		}
	}

	[data-picture] {
		z-index: 1;

		> * {
			z-index: 1;
		}
	}
}

.productPicture {
	background-color: #aaa;
	background-position: center;
	background-size: 100%;
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	display: flex;
	flex-direction: row;
	height: 180px;
	justify-content: center;
	padding-block: 14px;
	position: relative;
	transition: all 0.5s;
	width: 100%;
}

.status {
	align-self: flex-start;
	background-color: #666;
	border-radius: 7px;
	color: #fff;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	font-size: 12px;
	margin-bottom: 7px;
	padding: 4px 7px;
	transition: all 0.25s;
	user-select: none;
}

.price {
	align-self: center;
	display: flex;
	flex-direction: row !important;
	font-size: 28px;
	font-weight: normal;
	justify-content: center;
	line-height: 1em;
	text-align: right;
	width: 100%;

	small {
		align-self: flex-end;
		color: initial;
		font-size: 1em;
		line-height: 1em;
		margin-bottom: 2px;
		margin-right: 7px;
	}

	span {
		align-self: flex-start;
		color: #aaa;
		font-size: 14px;
		line-height: 1em;
		margin-top: 2px;
		margin-left: 2px;
	}
}
