@import '../../../keyframe';
@import '../../../utils';

.customerFormSidebar {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	height: 100%;
	inset-block-start: 0;
	inset-inline-start: 0;
	min-width: var(--private-sidebar-width);
	position: absolute;
	width: var(--private-sidebar-width);
	z-index: 3;

	&::before {
		background-color: #1119;
		backdrop-filter: blur(4px);
		content: '';
		height: 100%;
		position: fixed;
		width: 100%;
	}

	&[data-scroll-position='false'] {
		.userCardReduced {
			display: none;
		}

		.userCard {
			z-index: 5;
		}
	}

	&[data-scroll-position='true'] {
		.userCard {
			inset-block-start: -100%;
			z-index: 6;
		}
		.userCardReduced {
			display: flex;
		}
	}
}

.formContent {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	overflow: auto;
	z-index: 1;
}

.content {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 14px;
	padding: 14px;
	z-index: 1;

	h3 {
		border-bottom: 1px solid #ccc;
		padding-bottom: 7px;
	}
}

.userCard {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 14px;
	inset-block-start: 0;
	inset-inline-start: 0;
	position: sticky;
	width: 100%;
}

.userCardReduced {
	align-items: center;
	background-color: #222;
	color: #fff;
	display: flex;
	flex-direction: row;
	gap: 14px;
	inset-block-start: -1px;
	inset-inline-start: 0;
	padding: 14px;
	position: sticky;
	z-index: 2;

	button {
		display: none;
	}
}

.userImage {
	align-items: center;
	background-color: #eee;
	background-position: center;
	background-size: cover;
	border-bottom: 4px solid var(--border-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 14px;
	padding-block: 14px;
	width: 100%;

	&::before {
		background-color: #fff7;
		backdrop-filter: blur(10px);
		content: '';
		inset: 0;
		overflow: hidden;
		position: absolute;
		transition: all 0.25s;
		width: 100%;
	}
}

.options {
	background-color: #222;
	display: flex;
	flex-direction: row;
	gap: 14px;
	inset-block-end: 0;
	inset-inline-end: 0;
	padding: 14px 17px;
	width: 100%;
	z-index: 1;

	> button {
		align-items: center;
		border-radius: 7px;
	}
}

@include tablet {
	.customerFormSidebar {
		--private-sidebar-width: 100%;
	}

	.options {
		> button {
			span {
				display: none;
			}
		}
	}
}
