@import '../../../keyframe';
@import '../../../utils';

.customerFormSidebar {
	background-color: #1119;
	backdrop-filter: blur(4px);
	content: '';
	height: calc(100% - var(--private-navbar-height));
	inset-block-start: var(--private-navbar-height);
	inset-inline-start: 0;
	position: fixed;
	width: 100%;
	z-index: 3;
}

.sidebarContent {
	background-color: #fff;
	border-radius: 14px;
	display: flex;
	flex-direction: column;
	height: 100%;
	inset-block-start: 50%;
	inset-inline-start: 50%;
	max-height: 800px;
	position: fixed;
	translate: -50% -50%;
	transition: all 0.25s;
}

.formContent {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: auto;
	transition: all 0.25s;
}

.closeButton {
	background-color: #1113 !important;
	border-radius: 0 14px 0 0;
	inset-block-start: 0;
	inset-inline-end: 0;
	padding: 0;
	position: absolute;
	width: var(--input-height);
	z-index: 2;

	&:hover {
		background-color: #1116 !important;
		color: #fff;
	}
}

.error {
	z-index: 1;
}

.userImage {
	align-items: center;
	background-color: #ddd;
	background-position: center;
	background-size: cover;
	border-radius: 14px 14px 0 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 14px;
	position: relative;
	padding-block: 14px;
	width: 100%;
	z-index: 1;

	&::before {
		background-color: #fffa;
		backdrop-filter: blur(10px);
		border-radius: 14px 14px 0 0;
		content: '';
		height: 100%;
		inset-block-start: 0;
		inset-inline-start: 0;
		position: absolute;
		transition: all 0.25s;
		width: 100%;
	}
}

.content {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	gap: 14px;
	padding: 14px;
	transition: all 0.25s;
	z-index: 1;

	h3 {
		border-bottom: 1px solid #ccc;
		padding-bottom: 7px;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 14px;
		transition: all 0.25s;
		width: 50%;
	}
}

.contentRow {
	display: flex;
	flex-direction: row;
	gap: 14px;

	> div {
		flex-grow: 1;
		width: 100%;
	}
}

.options {
	background-color: #222;
	border-radius: 0 0 14px 14px;
	display: flex;
	flex-direction: row;
	gap: 14px;
	inset-block-start: 0;
	inset-inline-end: 0;
	padding: 14px 17px;
	width: 100%;
	z-index: 1;

	> button {
		align-items: center;
		border-radius: 7px;
	}
}

@include desktopHD {
	.sidebarContent {
		width: 800px;
		max-width: 100%;
	}

	.content {
		flex-direction: column;

		section {
			width: 100%;
		}
	}
}

@include tablet {
	.sidebarContent {
		height: 100%;
		inset-block-start: 0;
		inset-inline-start: 0;
		max-height: none;
		translate: none;
		width: 100%;
	}

	.userImage {
		border-radius: 0;

		&::before {
			border-radius: 0;
		}
	}

	.closeButton {
		border-radius: 0;
	}

	.contentRow {
		flex-direction: column;
	}

	.options {
		border-radius: 0;
	}
}
