@import '../../../keyframe';
@import '../../../utils';

.favoriteButton {
	color: #ccc !important;
	font-size: 24px;
	padding-inline: 7px;

	&:hover {
		scale: 1.2;
	}

	&:active {
		scale: 1;
	}

	&[data-favorite='true'] {
		color: red !important;
	}
}

.userImage {
	align-items: center;
	background-color: #ddd;
	background-position: center;
	background-size: cover;
	border-radius: 14px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 14px;
	height: 444px;
	position: relative;
	width: 350px !important;
	z-index: 1;

	&::before {
		background-color: #fffa;
		backdrop-filter: blur(10px);
		border-radius: 14px;
		content: '';
		height: 100%;
		inset-block-start: 0;
		inset-inline-start: 0;
		position: absolute;
		transition: all 0.25s;
		width: 100%;
	}
}

.content {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	gap: 14px;
	overflow-y: scroll;
	padding: 14px;
	transition: all 0.25s;

	> section {
		display: flex;
		flex-direction: column;
		gap: 14px;
		transition: all 0.25s;
		width: 600px;

		> section {
			display: flex;
			flex-direction: column;
			gap: 14px;
			transition: all 0.25s;
			width: 100%;
		}
	}
}

.contentRow {
	display: flex;
	flex-direction: row;
	gap: 14px;

	> div {
		flex-grow: 1;
		width: 100%;
	}
}

.options {
	border-radius: 0 0 14px 14px;
	display: flex;
	flex-direction: row;
	gap: 14px;
	inset-block-start: 0;
	inset-inline-end: 0;
	padding: 14px 17px;
	width: 100%;
	z-index: 1;
}

@include desktopHD {
	.content {
		flex-direction: column;

		section {
			width: 100%;
		}
	}

	.userImage {
		height: 200px;
		width: 100%;

		> div {
			padding-block: 14px;

			[data-picture] {
				height: 180px;
				font-size: calc(180px / 3);
				width: 180px;
			}
		}
	}
}

@include desktopSmall {
	.adminInfo {
		display: none;
	}
}

@include tablet {
	.contentRow {
		flex-direction: column;
	}

	.content {
		overflow-y: auto;
	}

	.options {
		border-radius: 0;
	}
}
