@import '../../../keyframe';

.customerFormSidebar {
	animation: rightToLeft 0.25s linear;
	border-left: 1px solid #ccc;
	box-shadow: #ccc 0 0 14px;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: auto;
	position: relative;
	width: 600px;
}

.content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 14px;
	padding: 14px;

	h3 {
		border-bottom: 1px solid #ccc;
		padding-bottom: 7px;
	}
}

.userCard {
	display: flex;
	flex-direction: row;
	gap: 14px;
}

.userCardInfo {
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-block-start: 21px;

	p {
		color: #aaa;
	}
}

.options {
	background-color: #222;
	display: flex;
	flex-direction: row;
	gap: 14px;
	inset-block-end: 0;
	inset-inline-end: 0;
	padding: 14px 17px;
	position: sticky;
	width: 100%;

	button {
		align-items: center;
		border-radius: 7px;
	}
}
