@import '../../../keyframe';
@import '../../../utils';

.customerCard {
	animation: fadeOut 0.25s linear;
	background-color: #fff;
	border-radius: 14px;
	box-shadow: inset #eee 0 0 calc((var(--customer-card-width) / 2) - 10px), #ccc 0 0 14px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	transition: all 0.25s;
	width: 100%;
	max-width: 100%;

	&:hover {
		box-shadow: inset #fff 0 0 calc((var(--customer-card-width) / 2) - 10px), #ccc 0 0 14px;

		.showDetailsButton {
			box-shadow: inset #eee9 0 0 calc((var(--customer-card-width) / 2) - 10px);

			&:hover {
				box-shadow: none;
				background-color: var(--active-color-80);
			}
		}
	}

	&[data-person-type='PF'] {
		.userPicture {
			border-right: 4px solid #80f;
			border-bottom: 2px solid #80f;
		}
	}

	&[data-person-type='PJ'] {
		.userPicture {
			border-right: 4px solid #f93;
			border-bottom: 2px solid #f93;
		}
	}

	&[data-inactive='true'] {
		.userPicture {
			filter: grayscale(1);
		}

		.customerPicture {
			> span {
				filter: grayscale(1);
			}
		}
	}

	hr {
		background-color: #eee;
		margin: 14px 21px -1px;
		width: calc(100% - 42px);
	}
}

.favorite {
	inset-block-start: 0;
	inset-inline-end: 0;
	position: absolute;

	> button {
		background-color: transparent !important;
		border-radius: 0;
		font-size: 24px !important;
	}
}

.buttons {
	inset-block-start: 0;
	inset-inline-start: 0;
	position: absolute;

	> div > button {
		border-radius: 14px 0 0 0;

		&[data-variation='primary'] {
			background-color: #1113;
			color: #333;
		}
	}
}

.customerPicture {
	align-items: center;
	border-radius: 14px 14px 0 0;
	border-bottom: 4px solid var(--border-color);
	display: flex;
	flex-direction: column;
	height: 200px;
	justify-content: center;
	position: relative;
	transition: all 0.25s;
	width: 100%;
}

.userPicture {
	box-shadow: #aaa 0 4px 7px;
	z-index: 0;
}

.customerInfo {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 4px;
	padding: 0 21px;
	text-align: center;

	h3 {
		color: #000;
		line-height: 20px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
	}

	small {
		color: #aaa;
	}
}

.address {
	display: flex;
	flex-direction: row;
	gap: 7px;
	justify-content: center;
	flex-wrap: wrap;
	padding-block-start: 14px;

	&:empty {
		display: none;
	}

	span {
		background-color: #eee;
		border-radius: 7px;
		color: #999;
		font-size: 12px;
		font-weight: bold;
		padding: 4px 7px;
		user-select: none;
		transition: all 0.25s;

		&:hover {
			background-color: #ddd;
			color: #333;
		}
	}
}

.showDetailsButton {
	background-color: transparent;
	border-radius: 0 0 14px 14px;
	color: #333;
	font-weight: bold;
	height: auto;
	padding-block: 21px !important;

	&:hover {
		color: #fff;
		z-index: 1;
	}
}

.inactive {
	background-color: #cccc;
	backdrop-filter: blur(4px);
	box-shadow: #ccc 0 0 7px;
	color: #666;
	font-size: 18px;
	padding-block: 7px;
	position: absolute;
	rotate: -25deg;
	text-align: center;
	transition: all 0.25s;
	width: 180px;
}

.favoriteButton {
	color: #ccc !important;

	&:hover {
		scale: 1.3;
	}

	&[data-favorite='true'] {
		color: red !important;
	}
}

@include tablet {
	.customerCard {
		width: 100%;
		max-width: 100%;
	}
}
