@import '../utils';

$border-color: #ccc;

.privatePage {
	background-color: #fff;
	display: grid;
	grid-template-columns: 330px auto;
	grid-template-rows: 130px 1fr;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

.header {
	align-items: center;
	border-bottom: 1px solid $border-color;
	border-right: 1px solid $border-color;
	display: flex;
	flex-direction: row;
	gap: 10px;
	padding-inline: 28px;

	i {
		align-items: center;
		background-color: var(--active-color);
		border-radius: 4px 17px;
		color: #fff;
		display: flex;
		font-size: 28px !important;
		height: 48px;
		justify-content: center;
		width: 48px;
	}
}

.headerAppInfo {
	display: flex;
	flex-direction: column;
	gap: 7px;

	h1 {
		color: #000;
		font-size: 24px;
		max-width: 150px;
	}
}

.pageInfo {
	border-bottom: 1px solid $border-color;
	display: grid;
	grid-template-columns: 1fr auto;
}

.pageInfoHeader {
	display: flex;
	flex-direction: column;
	gap: 17px;
	justify-content: center;
	padding-inline: 36px;

	> h1 {
		font-size: 32px;
	}

	> p {
		color: #666;
		font-size: 18px;
	}
}

.pageInfoUser {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 36px;
	padding-inline: 36px;

	> hr {
		background-color: #eee;
		height: calc(100% - 48px);
		width: 1px;
	}
}

.pageInfoUserOptions {
	display: flex;
	flex-direction: row;
	gap: 21px;

	> button {
		height: var(--input-height);
		font-size: 24px;
		position: relative;
		width: var(--input-height);

		[data-bag] {
			background-color: #ff0000cc !important;
			border-radius: 50%;
			height: 10px;
			max-width: 10px;
			min-width: 10px;
			padding: 0;
			position: absolute;
			right: 7px;
			top: 7px;
			width: 10px;
		}
	}
}

.pageInfoUserButton {
	align-items: center;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 14px;
	user-select: none;

	&:hover {
		h3 {
			color: var(--active-color);
		}
	}
}

.pageInfoUserButtonInfo {
	display: flex;
	flex-direction: column;
	gap: 7px;

	h3 {
		font-size: 20px;
		transition: all 0.25s;
	}
}

.sidebar {
	border-right: 1px solid $border-color;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 21px;
	overflow: auto;

	[data-field='sidebar_search'] {
		button {
			color: #aaa;
			font-size: 22px;
		}

		input::placeholder {
			color: #999;
		}

		&[data-focus='true'] {
			button {
				color: var(--active-color);
			}
		}
	}

	> label {
		color: #ccc;
		letter-spacing: 1px;
		font-size: 14px;
		font-weight: bold;
		padding-block: 21px 4px;
	}

	> button {
		background-color: #1110;
		border: none !important;
		justify-content: flex-start;
		font-size: 18px;
		height: 54px;
		width: 100%;

		&:hover {
			background-color: #1111 !important;
		}

		span {
			color: #666 !important;
			flex-grow: 1;
			text-align: left;
		}

		[data-bag] {
			background-color: #333 !important;
		}

		[data-icon] {
			font-size: 24px;
		}

		&[data-active='true'] {
			background-color: #1111;
			color: var(--active-color);

			span {
				color: var(--active-color) !important;
			}

			[data-bag] {
				background-color: var(--active-color) !important;
			}
		}
	}
}

.content {
	height: 100%;
	max-height: 100%;
	overflow-y: auto;
	position: relative;
}

@include desktopMediumHD {
	.privatePage {
		grid-template-columns: auto 1fr;
	}

	.pageInfoUserOptions {
		display: none;
	}

	.pageInfoUserButtonInfo {
		display: none;
	}

	.sidebar {
		[data-field='sidebar_search'] {
			display: none;
		}

		> label {
			display: none;
		}

		> button {
			span {
				display: none;
			}
		}
	}

	.header {
		justify-content: center;
	}

	.headerAppInfo {
		display: none;
	}
}
