@import '../keyframe';
@import '../utils';

:root {
	--private-navbar-height: 80px;
	--private-sidebar-width: 300px;
}

.privatePage {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	height: 100%;
	inset-block-start: 0;
	inset-inline-start: 0;
	position: fixed;
	width: 100%;
	z-index: 9;
}

.navbar {
	align-items: center;
	background-color: #111;
	display: flex;
	flex-direction: row;
	gap: 21px;
	height: var(--private-navbar-height);
	padding: 21px;
	position: relative;
	width: 100%;
}

.showMenuButton {
	display: none;
}

.appInfo {
	align-items: center;
	color: #fff;
	display: flex;
	flex-direction: row;
	gap: 14px;

	> button {
		background-color: transparent !important;
		font-size: 21px;
		padding: 0;
	}
}

.navbarOptions {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	gap: 21px;
	justify-content: center;

	> a {
		align-items: center;
		color: #fff7;
		display: flex;
		flex-direction: row;
		gap: 10px;
		padding-inline: 7px;
		transition: all 0.25s;

		&:hover {
			color: #fffa;
		}

		&.active {
			color: #fff;
		}
	}
}

.mainContent {
	background-color: #eee;
	display: flex;
	flex-direction: column;
	gap: 14px;
	height: calc(100% - var(--private-navbar-height));
	overflow: auto;
	width: 100%;
}

.userInfoPicture {
	border: none !important;
}

@include desktopSmall {
	.showMenuButton {
		display: flex;
	}

	.privatePage {
		&[data-show-menu='true'] {
			.navbarOptions {
				transform: translateX(0);
			}

			&::before {
				background-color: #1113;
				backdrop-filter: blur(4px);
				content: '';
				height: 100%;
				inset-block-start: 0;
				inset-inline-start: 0;
				position: fixed;
				width: 100%;
				z-index: 5;
			}
		}
	}

	.navbar {
		z-index: 6;
	}

	.appInfo {
		flex-grow: 1;
	}

	.navbarOptions {
		align-items: flex-start;
		background-color: #000e;
		backdrop-filter: blur(4px);
		flex-direction: column;
		gap: 0;
		height: calc(100% - var(--private-navbar-height));
		inset-block-start: var(--private-navbar-height);
		inset-inline-start: 0;
		justify-content: flex-start;
		padding: 0;
		position: fixed;
		transform: translateX(-100%);
		transition: all 0.25s;
		width: 300px;

		> a {
			font-weight: normal;
			justify-content: flex-start;
			padding: 21px;
			width: 100%;

			&:hover {
				background-color: #fff1;
			}

			&.active {
				background-color: #fff3;
			}
		}
	}
}
