.buttonGroup {
	backdrop-filter: blur(4px);
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: row;
	outline: 1px solid #ccc;

	> button {
		border: none !important;
		border-radius: 0;
		flex-grow: 1;
		justify-content: center;

		&:first-child {
			border-top-left-radius: var(--border-radius);
			border-bottom-left-radius: var(--border-radius);
		}

		&:last-child {
			border-top-right-radius: var(--border-radius);
			border-bottom-right-radius: var(--border-radius);
		}

		&[data-variation='primary'] {
			background-color: #fff !important;
			border: none;
		}
	}
}

[data-context='table'] {
	.buttonGroup {
		outline: none;
	}
}
