@import '../utils';

.button {
	align-items: center;
	background-color: var(--active-color);
	border: none;
	border-radius: var(--border-radius);
	color: #fff;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	font-size: 16px;
	gap: 10px;
	height: var(--input-height);
	justify-content: center;
	min-height: var(--input-height);
	padding-inline: 14px;
	transition: all 0.25s;
	user-select: none;

	&:hover {
		background-color: var(--active-color-80);
	}

	&:active {
		background-color: var(--active-color-90);
	}

	&:disabled {
		opacity: 0.6;
		pointer-events: none;
	}

	.icon {
		@include useGoogleFonts();
	}

	.bag {
		align-items: center;
		background-color: #fff3;
		border-radius: 50%;
		display: flex;
		flex-direction: row;
		font-size: 10px;
		height: 22px;
		justify-content: center;
		width: 22px;
	}

	&[data-variation='secondary'] {
		background-color: #1112;
		color: #333;

		&:hover {
			background-color: #1114;
		}

		&:active {
			background-color: #1113;
		}
	}

	&[data-variation='white'] {
		background-color: #fff2;
		color: #fff;

		&:hover {
			background-color: #fff4;
		}

		&:active {
			background-color: #fff3;
		}
	}

	&[data-variation='ghost'] {
		background-color: transparent;
		color: #333;

		&:hover {
			background-color: #1112;
		}

		&:active {
			background-color: #1111;
		}

		.bag {
			background-color: #3331;
			color: #fff;
		}
	}
}
