@import '../keyframe';
@import '../utils';

.formModal {
	align-items: center;
	background-color: #1119;
	backdrop-filter: blur(4px);
	content: '';
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100%;
	inset-block-start: 0;
	inset-inline-start: 0;
	position: fixed;
	width: 100%;
	z-index: 3;
}

.formModalContent {
	background-color: #fff;
	border-radius: 14px;
	display: flex;
	flex-direction: column;
	max-height: 800px;
	position: relative;
	transition: all 0.25s;
	z-index: 4;

	> header {
		border-radius: 12px 12px 0 0;
		display: flex;
		flex-direction: row;
		gap: 14px;
		padding-block: 10px 4px;
		width: 100%;

		> span {
			align-self: center;
			color: #222;
			flex-grow: 1;
			font-size: 18px;
			font-weight: bold;
			padding-inline: 21px;
		}

		> button {
			align-self: center;
			background-color: transparent !important;
			border: none !important;
			color: #222 !important;
			margin-right: 7px;

			&:hover {
				color: #222a !important;
			}
		}
	}
}

@include desktopHD {
	.formModalContent {
		width: 800px;
		max-width: 100%;
	}
}

@include tablet {
	.formModal {
		width: 100%;
	}

	.formModalContent {
		border-radius: 0;
		height: 100%;
		inset-block-start: 0;
		inset-inline-start: 0;
		max-height: none;
		translate: none;
	}

	.closeButton {
		border-radius: 0;
	}
}
