.modal {
	align-items: center;
	background-color: #1111;
	backdrop-filter: blur(4px);
	display: flex;
	flex-direction: row;
	height: 100%;
	inset: 0;
	justify-content: center;
	position: fixed;
	width: 100%;
	z-index: 400;
}

.modalContent {
	background-color: #fff;
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
	gap: 14px;
	padding: 28px;
	position: relative;
	max-width: 800px;
	min-width: 600px;
}

.closeButton {
	background-color: red;
	inset-block-start: 0;
	inset-inline-end: 0;
	position: absolute;

	&:hover {
		background-color: transparent !important;
		color: var(--active-color) !important;
	}
}

.buttons {
	display: flex;
	flex-direction: row;
	gap: 14px;
	justify-content: flex-end;
	padding-block-start: 14px;
}
