@import '../keyframe';
@import '../utils';

.table {
	--table-cell-size: calc(var(--input-height) + 8px);
	--table-cell-size-body: calc(var(--input-height) + 14px);

	animation: fadeOut 0.25s linear;
	background-color: #fff;
	border-collapse: collapse;
	border-radius: var(--border-radius);
	box-shadow: #333;
	outline: 1px solid #ccc;
	position: relative;

	[data-field='pageSize'] {
		width: 100px;
	}
}

.tableHead {
	border-bottom: 1px solid #ccc;
	left: 0;
	position: sticky;
	top: 0;
}

.tableHeadRow {
	height: calc(var(--input-height) + 4px);
}

.tableHeadColumn {
	background-color: #eee;
	color: #555;
	cursor: pointer;
	position: relative;

	&::before {
		background-color: #1111;
		content: '';
		height: calc((var(--table-cell-size-body) * var(--numberOfRows) + var(--table-cell-size)));
		left: 0;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		transition: all 0.25s;
		width: 100%;
		z-index: 1;
	}

	&:first-child {
		border-top-left-radius: var(--border-radius);
	}

	&:last-child {
		border-top-right-radius: var(--border-radius);
	}

	&:hover {
		&::before {
			opacity: 1;
		}
	}
}

.tableBody {
}

.tableBodyRow {
	transition: all 0.25s;

	&:hover {
		background-color: #f4f4f4;
	}
}

.tableBodyColumn {
	width: 1%;
}

.tableHeadColumn {
	height: var(--table-cell-size);
	max-height: var(--table-cell-size);
	min-height: var(--table-cell-size);
}

.tableBodyColumn {
	height: var(--table-cell-size-body);
	max-height: var(--table-cell-size-body);
	min-height: var(--table-cell-size-body);
}

.tableHeadColumnContent {
	gap: 7px;
}

.tableHeadColumn,
.tableBodyColumn {
	align-items: center;
	color: #666;
	font-size: 16px;
	padding-inline: 17px;
	text-align: left;

	&[data-alignment='left'] {
		justify-content: flex-start;
		text-align: left;

		.tableBodyColumnContent,
		.tableHeadColumnContent {
			justify-content: flex-start;
			text-align: left;
		}
	}

	&[data-alignment='center'] {
		justify-content: center;
		text-align: center;

		.tableBodyColumnContent,
		.tableHeadColumnContent {
			justify-content: center;
			text-align: center;
		}
	}

	&[data-alignment='right'] {
		justify-content: flex-end;
		text-align: right;

		.tableBodyColumnContent,
		.tableHeadColumnContent {
			justify-content: flex-end;
			text-align: right;
		}
	}

	> span {
		background-color: #3336;
		border-radius: var(--border-radius);
		color: #fff;
		font-size: 12px;
		padding: 4px 10px;
	}
}

.tableBodyColumnContent {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 7px;
	max-width: 100%;
	text-overflow: ellipsis;
	user-select: none;
	white-space: nowrap;

	[data-picture] {
		width: var(--size);
	}

	a {
		color: #666;
		cursor: pointer;
		overflow: hidden;
		transition: all 0.25s;
		text-decoration: underline;
		text-overflow: ellipsis;
		white-space: nowrap;

		&:hover {
			color: var(--active-color);
		}
	}
}

.tableFoot {
	border-top: 1px solid #ccc;
}

.tableFootRow {
}

.tableFootRowPagination {
	padding: 14px;
}

.tableFootRowPaginationContent {
	gap: 7px !important;

	p {
		align-self: center;
		color: #aaa;
		padding-inline-start: 4px;
	}

	> button {
		flex-grow: 0 !important;
	}
}

@include desktopHD {
	.tableHeadColumn[data-priority='regular'],
	.tableBodyColumn[data-priority='regular'] {
		display: none;
	}

	.tableFootRowPaginationContent {
		p {
			display: none;
		}
	}
}

@include desktopSmall {
	.tableHeadColumn[data-priority='secondary'],
	.tableBodyColumn[data-priority='secondary'] {
		display: none;
	}
}
