.userPicture {
	align-self: center;
	display: flex;
	transition: all 0.25s;

	&[data-format='circle'] {
		border-radius: 50%;

		img {
			border-radius: 50%;
		}

		.initialLetters {
			border-radius: 50%;
		}
	}

	&[data-format='square'] {
		img {
			border-radius: 0;
		}

		.initialLetters {
			border-radius: 0;
		}
	}

	&[data-have-onclick='true'] {
		&:hover {
			cursor: pointer;

			.initialLetters {
				background-color: #ccc;
			}
		}
	}
}

img {
	height: var(--size);
	object-fit: cover;
	pointer-events: none;
	width: var(--size);
}

.initialLetters {
	align-items: center;
	background-color: #ddd;
	color: #666;
	display: flex;
	font-size: calc(var(--size) / 3);
	flex-direction: row;
	height: var(--size);
	justify-content: center;
	pointer-events: none;
	transition: all 0.25s;
	width: var(--size);
}

.placeholder {
	font-size: calc(var(--size) / 7);
	text-align: center;
}
