.settings {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 21px;
	padding: 21px;

	h1 {
		color: var(--active-color);
		padding-block: 14px 0;
	}

	.color {
		background-color: var(--color);
		border-radius: 7px;
		box-shadow: #0003 0 0 4px;
		height: 200px;
		width: 200px;
	}
}
