.mainPage {
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;

	.sidebarAndContent {
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		max-height: calc(100% - var(--navbar-height));
	}

	.content {
		display: flex;
		flex-direction: column;
		gap: 21px;
		flex-grow: 1;
		height: 100%;
		overflow-y: auto;
		padding: 21px;

		& > div {
			display: flex;
			flex-direction: column;
			gap: 21px;
		}
	}

	.loading {
		align-items: center;
		backdrop-filter: blur(10px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 300;

		button {
			opacity: 1;

			&::before {
				animation: spin linear 1.5s infinite;
				font-size: 128px;
			}

			@keyframes spin {
				to {
					rotate: 360deg;
				}

			}
		}
	}
}
