.mainPage {
	--navbar-size: 62px;
	--sidebar-size: 280px;

	background-color: #fff;
	display: flex;
	flex-direction: column;
	height: 100%;
	max-height: 100%;
	min-height: 100%;
	inset: 0;
	position: absolute;
	width: 100%;

	.navbar {
		background-color: #222;
		display: flex;
		flex-direction: row;
		height: var(--navbar-size);
		max-height: var(--navbar-size);
		min-height: var(--navbar-size);
		padding-inline: 21px;
		width: 100%;

		.logo {
			align-self: center;
			color: #fff;
			font-size: 1.3em;

			span {
				color: var(--active-color);
			}
		}
	}

	.container {
		display: flex;
		flex-direction: row;
		height: calc(100% - var(--navbar-size));
	}

	.sidebar {
		background-color: #f9f9f9;
		border-right: 1px solid #eee;
		height: 100%;
		transition: all 0.25s;
		width: var(--sidebar-size);

		button {
			align-items: center;
			border-left: transparent solid 4px;
			border-radius: 0;
			font-size: 16px;
			gap: 14px;
			padding: 14px 21px;
			white-space: nowrap;
			width: 100%;

			&:hover {
				background-color: #eee;
			}

			&::before {
				font-size: 1.2em;
				font-weight: 500;
			}

			&[data-active='true'] {
				background-color: #ccc;
				border-left-color: #333;
			}
		}

		.reduceButton {
			border-left: none;
			margin-left: auto;
			width: auto;
		}
	}

	.content {
		height: 100%;
		max-height: 100%;
		min-height: 100%;
		flex-grow: 1;
		overflow: auto;
	}

	&[data-reduced='true'] {
		--sidebar-size: 66px;

		.sidebar {
			button {
				span {
					display: none;
				}
			}
		}
	}
}
