.stickyButtonGroup {
	align-self: center;
	background-color: #ccc9;
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: row;
	gap: 7px;
	inset-block-end: -14px;
	margin-block-end: -14px;
	margin-inline-start: 0;
	padding: 7px;
	pointer-events: none;
	position: sticky;
	z-index: 100;

	> * {
		pointer-events: auto;
	}
}
