@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

$ACTIVE_COLOR_PURPLE: '#9999ff';
[data-color-schema='purple'] {
	--active-color: #{$ACTIVE_COLOR_PURPLE};
	--active-color-aa: #{$ACTIVE_COLOR_PURPLE}aa;
	--active-color-cc: #{$ACTIVE_COLOR_PURPLE}cc;
	--active-color-99: #{$ACTIVE_COLOR_PURPLE}99;
	--active-color-66: #{$ACTIVE_COLOR_PURPLE}66;
	--active-color-33: #{$ACTIVE_COLOR_PURPLE}33;
	--background-color: #{$ACTIVE_COLOR_PURPLE}11;
}

$ACTIVE_COLOR_BLUE: '#3399ff';
[data-color-schema='blue'] {
	--active-color: #{$ACTIVE_COLOR_BLUE};
	--active-color-aa: #{$ACTIVE_COLOR_BLUE}aa;
	--active-color-cc: #{$ACTIVE_COLOR_BLUE}cc;
	--active-color-99: #{$ACTIVE_COLOR_BLUE}99;
	--active-color-66: #{$ACTIVE_COLOR_BLUE}66;
	--active-color-33: #{$ACTIVE_COLOR_BLUE}33;
	--background-color: #{$ACTIVE_COLOR_BLUE}11;
}

$ACTIVE_COLOR_ORANGE: '#ff9900';
[data-color-schema='orange'] {
	--active-color: #{$ACTIVE_COLOR_ORANGE};
	--active-color-aa: #{$ACTIVE_COLOR_ORANGE}aa;
	--active-color-cc: #{$ACTIVE_COLOR_ORANGE}cc;
	--active-color-99: #{$ACTIVE_COLOR_ORANGE}99;
	--active-color-66: #{$ACTIVE_COLOR_ORANGE}66;
	--active-color-33: #{$ACTIVE_COLOR_ORANGE}33;
	--background-color: #{$ACTIVE_COLOR_ORANGE}11;
}

$ACTIVE_COLOR_PINK: '#ff9999';
[data-color-schema='pink'] {
	--active-color: #{$ACTIVE_COLOR_PINK};
	--active-color-aa: #{$ACTIVE_COLOR_PINK}aa;
	--active-color-cc: #{$ACTIVE_COLOR_PINK}cc;
	--active-color-99: #{$ACTIVE_COLOR_PINK}99;
	--active-color-66: #{$ACTIVE_COLOR_PINK}66;
	--active-color-33: #{$ACTIVE_COLOR_PINK}33;
	--background-color: #{$ACTIVE_COLOR_PINK}11;
}

:root {
	--responsive-size: 1000px;
	--zindex-modal: 150;
	--zindex-message: 200;
}

* {
	box-sizing: border-box;
	font-family: 'Fira Sans', sans-serif;
	margin: 0;
	outline: transparent;
	padding: 0;
	user-select: none;

	&::-webkit-scrollbar {
		background-color: #ddd;
		border: 4px solid #ddd;
		border-radius: 100px;
		height: 20px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--active-color);
		border-radius: 100px;
		border: 4px solid #ddd;
	}

	&::-webkit-scrollbar-track {
		border-radius: 14px;
		background-clip: content-box;
	}
}

a {
	color: #3399ff;
	text-decoration: none;
	transition: all 0.5s;

	&:hover {
		opacity: 0.7;
	}
}

img {
	object-fit: cover;
	object-position: center;
	pointer-events: none;
}

li {
	margin-inline-start: 14px;
}

h1,
h2,
h3,
h4,
h5 {
	display: flex;
	flex-direction: row;
	gap: 4px;
	margin-right: auto;
}
