.card {
	transition: all 0.25s;

	.header {
		display: flex;
		flex-direction: row;
		gap: 7px;

		.title {
			flex-grow: 1;
		}

		.buttons {
			display: flex;
			flex-direction: row;
			gap: 14px;
		}
	}

	p {
		flex-grow: 1;
	}

	.labels {
		display: flex;
		flex-direction: row;
		gap: 7px;
	}

	.values {
		display: flex;
		flex-direction: row;
		gap: 7px;

		.fade {
			opacity: 0.2;
		}
	}

	&[data-archived=true] {
		filter: grayscale(1);
	}

	@media (max-width: 1000px) {

		.header {
			flex-direction: column;

			.buttons {
				flex-direction: column;
				gap: 4px;
			}
		}

		.labels, .values {
			flex-direction: column;
		}
	}
}
