.table {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: auto;

	&::-webkit-scrollbar {
		width: 0;
	}

	table {
		border-collapse: collapse;
		margin-block-end: auto;
		width: 100%;

		thead,
		tfoot {
			inset-block-start: 0;
			position: sticky;
			z-index: 10;

			tr {
				border-bottom: 1px solid #ccc;

				th {
					color: #333;
					font-size: 16px;
					font-weight: normal;
					padding: 14px 21px;
					transition: all 0.25s;

					a {
						color: #333;
					}

					&[data-alignment='left'] {
						text-align: left;

						div {
							justify-content: flex-start;
						}
					}

					&[data-alignment='center'] {
						text-align: center;

						div {
							justify-content: center;
						}
					}

					&[data-alignment='right'] {
						text-align: right;

						div {
							justify-content: flex-end;
						}
					}
				}
			}
		}

		tfoot {
			tr {
				border-bottom: none;
				border-top: 1px solid #ccc;
			}
		}

		tbody {
			position: relative;

			tr {
				transition: all 0.25s;
				user-select: none;

				td {
					color: #777;
					font-size: 16px;
					padding: 14px 21px;
					text-align: left;

					img {
						align-self: center;
						border-radius: var(--border-radius);
						box-shadow: #ccc 0 0 4px;
						height: 42px;
						margin-inline-start: -4px;
						object-fit: cover;
						width: 42px;
					}

					a {
						font-weight: bold;
					}

					&[data-alignment='left'] {
						text-align: left;
					}

					&[data-alignment='center'] {
						text-align: center;
					}

					&[data-alignment='right'] {
						text-align: right;
					}
				}

				&:hover {
					background-color: #f4f4f4;

					&:nth-child(even) {
						background-color: #f4f4f4;
					}
				}

				&:nth-child(even) {
					background-color: #f8f8f8;
				}

				&[data-not-found='true'] {
					&:hover {
						background-color: transparent;
					}
				}
			}
		}
	}

	.pagination {
		align-self: stretch;
		background-color: #fff;
		border-block-start: 1px solid #ccc;
		display: flex;
		flex-direction: row;
		inset-block-end: 0;
		justify-content: flex-end;
		padding-block: 14px;
		position: sticky;
		width: 100%;
		z-index: 10;

		> span {
			align-self: center;
			color: #888;
			flex-grow: 1;
			margin-inline-start: 14px;
		}
	}
}
