.formTab {
	display: flex;
	flex-direction: column;
	gap: 7px;
	width: 100%;
}

.tableWrapper {
	border-radius: var(--border-radius);
	box-shadow: #aaa 0 0 4px;
	overflow: hidden;
}

.customerInfo {
	margin-block: 14px 7px;
	width: 100%;

	.customerInfoDetails {
		align-items: flex-start;

		> * {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	h1 {
		font-size: 20px;
	}

	img {
		align-self: center;
		border-radius: var(--border-radius);
		box-shadow: #aaa 0 0 4px;
		height: 100px;
		min-height: 100px;
		min-width: 100px;
		object-fit: cover;
		width: 100px;
	}
}
