.mainPageContextOptions {
	align-items: center;
	background-color: #fff;
	box-shadow: #ccc 0 0 4px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.centered {
		align-items: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 28px;
		justify-content: flex-start;
		min-height: 60px;
		max-width: var(--middle-width);
		padding-inline: 21px;
		width: var(--middle-width);

		button {
			background-color: transparent;
			border: none;
			border-radius: 0;
			color: #777;
			height: 100%;
			white-space: nowrap;

			&[data-active=true] {
				color: var(--active-color);
			}
		}
	}
}
