@import url('https://fonts.googleapis.com/css2?family=Inter');
@import './utils.scss';

:root {
	--active-color-value: 51, 153, 255;
	--border-radius: 7px;
	--input-height: 48px;

	--input-border-color: #ccc;
	@include reloadActiveColor;
}

@media print {
	.no-print,
	.no-print * {
		display: none !important;
	}
}

* {
	-webkit-print-color-adjust: exact !important;
	print-color-adjust: exact !important;
	box-sizing: border-box;
	font-family: 'Inter', serif;
	letter-spacing: 1px;
	line-height: 1em;
	margin: 0;
	padding: 0;

	&::-webkit-scrollbar {
		width: 0;
	}
}

a {
	color: var(--active-color);
	cursor: pointer;
	font-size: inherit;
	text-decoration: none;
}

hr {
	appearance: none;
	background-color: #ccc;
	border: none;
	height: 1px;
	margin-block: 21px;
	position: relative;
	overflow: visible;
	width: 100%;

	&::before {
		color: #999;
		content: attr(data-value);
		background-color: #fff;
		font-size: 14px;
		inset-block-start: 50%;
		inset-inline-start: 50%;
		padding-inline: 7px;
		position: absolute;
		transform: translateX(-50%) translateY(-50%);
	}
}
