@keyframes fadeOut {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes topToBottom {
	from {
		transform: translateY(-50%);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes rightToLeft {
	from {
		transform: translateX(50%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes rotate {
	to {
		transform: rotate(180deg);
	}
}
